<!-- <app-header></app-header>
<app-sidebar></app-sidebar>
<div class = "container -fluid">
    <div class = "row">
        <main class ="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class ="d-flex justfy-content-between flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-button">
                <h2 class = "h3">Orders</h2>

                <div class = "btn-toolbar mb-2 mb-md-0">
                    <app-time-of-day></app-time-of-day>
                </div>
            </div>
            <div class = "container mb-4">
                <div class = "d-flex align-items-center justfy-content-center">

                    <button type="button" class = "btn btn-primary m-3" data-bs-toggle = "modal" data-bs-target = "#exampleModel">
                        Make a trade
                    </button>
                </div>
            </div>\

            <app-footer></app-footer>

        </main>
    </div>
</div>

SELL AND BUY MODEL -->

