<app-header></app-header>
<app-sidebar></app-sidebar>
<div>
<div>
    <button mat-button [matMenuTriggerFor]="menu"  class = "user mt-2 d-flex align-items-center">Order</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>CreateOder</button>
        <button mat-menu-item>CancelOrder</button>
        <button mat-menu-item>ChangeOrder</button>
        <button mat-menu-item>SatusReportOnOrder</button>
      </mat-menu>
</div>
<div>
    <button mat-button [matMenuTriggerFor]="menu"  class = "user mt-2 d-flex align-items-center">Stock</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Apple</button>
        <button mat-menu-item>Banana</button>
        <button mat-menu-item>Orange</button>
        <button mat-menu-item>Grapes</button>
      </mat-menu>
</div>
</div>
