
<div class = "oder-wrapper">
    <mat-card class = "box">
    <form action="https://group16-banking-app.herokuapp.com/login/client/delete-order/{id}">
        <mat-card-content>
        <mat-card-header>
            <mat-card-title>Delete an Order</mat-card-title>
        </mat-card-header>
    
       
        Product ID:
        <mat-form-field>
            <input type = "number" placeholder="Product id" matInput ngModel name ="id" id = "id"class="form-control"  required="true" >
        </mat-form-field>

    <div>
        <button type ="submit" (click)= "delete()" routerLinkActive = "router-link-active" mat-raised-button color = "primary">Delete</button>
    </div>
    </mat-card-content>
    </form>
    </mat-card>
    </div>
