<p>delete-portfolio works!</p>
<div class = "oder-wrapper">
    <mat-card class = "box">
    <form action="https://group16-banking-app.herokuapp.com/login/client/delete-portfolio/{id}">
        <mat-card-content>
        <mat-card-header>
            <mat-card-title>Delete a Portfolio</mat-card-title>
        </mat-card-header>
    
       
        Product ID:
        <mat-form-field>
            <input type = "number" placeholder="Product id" matInput ngModel name ="id" id = "id"class="form-control"  required="true" >
        </mat-form-field>

    <div>
        <button mat-raised-button color = "primary">Delete</button>
    </div>
    </mat-card-content>
    </form>
    </mat-card>
    </div>