
<div class = "oder-wrapper">
    <mat-card class = "box">
        <form>
            <mat-card-content>
            <mat-card-header>
                <mat-card-title>Update a Portfolio</mat-card-title>
              </mat-card-header>
        
            <div>
            Portfolio ID::::::::::::
            <mat-form-field>
                <input type = "numbeer" placeholder="Portfolio Id" matInput >
            </mat-form-field>
            </div>
           
            Product Name:
            <mat-form-field>
                <input type = "text" placeholder="Product Name" matInput >
            </mat-form-field>
        
            <div>
            Quantity::::::::::::
            <mat-form-field>
                <input type = "text" placeholder="Product quantity" matInput >
            </mat-form-field>
            </div>
        
        </mat-card-content>
        <div>
            <button mat-raised-button color = "primary">Create</button>
        </div>
        </form>
        </mat-card>
        </div>
